span.count[id="1"]{
  color: #264653;
}
span.count[id="2"]{
  color: #2A9D8F;
}
span.count[id="3"]{
  color: #E9C46A;
}
span.count[id="4"]{
  color: #F4A261;
}
span.count[id="5"]{
  color: #E76F51;
}
span.count[id="6"]{
  color: #BC0000;
}
