div.center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.slider-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

div.slider-wrapper > * {
  margin-right: 10px;
}

div.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

form {
  display: flex;
  font-size: 18px;
}

form > * {
  margin-right: 5px;
}

form input {
  width: 20px;
  font-size: 18px;
}

div.display-word-wrapper {
   display: flex;
   justify-content: center;
   margin: 20px;
   height: 20px;
   font-size: 24px;
   font-weight: bold;
}

div.display-guesses-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 18px;

}

div.wrong-guesses-container {
  display: flex;
  justify-content: flex-start;
}

div.invalid-display {
  color: #E76F51;
  font-size: 14px;
  height: 18px;
}

ul {
  list-style: none;
  display: flex;
  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

ul li {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
}

ul li span#underscore {
  line-height: 0;
}

div.rings-wrapper {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.game-button-wrapper {
  display: flex;
  justify-content: flex-start;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #264653;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

button:hover {
  background: #2A9D8F;
  cursor: pointer;
}
button:active {
  background: whitesmoke;
}
