div.display-word-wrapper {
   display: flex;
   justify-content: center;
}

ul {
  list-style: none;
  display: flex;
  padding-inline-start: 0px;
}

ul li {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5px;
}

ul li span#underscore {
  line-height: 0;
}
