div.form-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

form {
  display: flex;
}

form > * {
  margin-right: 5px;
}

div.display-guesses-wrapper {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.display-word-wrapper {
   display: flex;
   justify-content: center;
   margin: 20px;
}

div.wrong-guesses-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

div.invalid-display {
  color: #E76F51;
  font-size: 14px;
}

ul {
  list-style: none;
  display: flex;
  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

ul li {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 3px;
  padding-right: 3px;
}

ul li span#underscore {
  line-height: 0;
}

div.rings-wrapper {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.game-button-wrapper {
  display: flex;
  justify-content: center;
}
