div.ring {
  border-radius: 50%;
  border: 3px whitesmoke solid;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out;
}

/* color scheme by order:
 #264653
 #2A9D8F
 #E9C46A
 #F4A261
 #E76F51
 #bc0000
 GREY: #e5e5e5*/

div.ring[id="1"]{
  background-color: #264653;
}
div.ring[id="2"]{
  background-color: #2A9D8F;
}
div.ring[id="3"]{
  background-color: #E9C46A;
}
div.ring[id="4"]{
  background-color: #F4A261;
}
div.ring[id="5"]{
  background-color: #E76F51;
}
div.ring[id="6"]{
  background-color: #BC0000;
}
div.ring#grey {
  background-color: #e5e5e5;
}

div.result-display {
  width: 80%;
  height: 80%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: black;
  border-radius: 50%;
  filter: opacity(80%)
}
