div.ring {
  border-radius: 50%;
  border: 5px whitesmoke solid;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* color scheme by order:
 #264653
 #2A9D8F
 #E9C46A
 #F4A261
 #E76F51
 #bc0000
 GREY: #d6d4d4*/

div.ring[id="1"]{
  background-color: #264653;
}
div.ring[id="2"]{
  background-color: #2A9D8F;
}
div.ring[id="3"]{
  background-color: #E9C46A;
}
div.ring[id="4"]{
  background-color: #F4A261;
}
div.ring[id="5"]{
  background-color: #E76F51;
}
div.ring[id="6"]{
  background-color: #BC0000;
}
div.ring#grey {
  background-color: lightgrey;
}
